@import "../../tokens/index.scss";

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  gap: 34px;

  @include for-size("desktop-up") {
    gap: 40px;
  }
  .details-top-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-left {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 8px;

      &-title {
        font-weight: $font-weight-700;
        font-size: 32px;
        line-height: 39px;
        color: $charleston-green;

        @include for-size("tablet-portrait-up") {
          font-size: 64px;
          line-height: 67px;
        }

        @include for-size("desktop-up") {
          font-size: 64px;
          line-height: 82px;
        }

        &.dark {
          color: $white;
        }
      }

      &-subtitle {
        font-weight: $font-weight-400;
        font-size: $font-size-18;
        line-height: $line-height-24;
        color: $lavender-indigo;

        @include for-size("tablet-portrait-up") {
          font-size: $font-size-24;
          line-height: 29px;
        }
      }
    }

    &-right {
      .img-play {
        height: 48px;
        width: 48px;
        object-fit: cover;

        @include for-size("tablet-portrait-up") {
          width: 75px;
          height: 75px;
        }
      }
    }
  }

  .details-bottom-inner-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include for-size("tablet-portrait-up") {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }

    &-line {
      background: $bright-gray;
      height: 1px;
      width: 100%;
      margin-bottom: $spacing-24;

      &.dark {
        background: $black-olive;
      }
    }

    &-header {
      font-weight: $font-weight-400;
      font-size: $font-size-14;
      line-height: $line-height-18;
      text-decoration-line: underline;
      color: $sonic-silver;

      @include for-size("tablet-portrait-up") {
        font-size: $font-size-14;
        line-height: $line-height-15;
      }
      @include for-size("desktop-up") {
        font-size: $font-size-14;
        line-height: $line-height-18;
      }
    }

    &-link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      @include for-size("tablet-portrait-up") {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
      }

      &-link {
        font-weight: $font-weight-400;
        font-size: $font-size-14;
        line-height: $line-height-15;
        text-decoration-line: underline;
        color: $charleston-green;

        @include for-size("tablet-portrait-up") {
          font-size: $font-size-14;
          line-height: $line-height-15;
        }

        &.dark {
          color: $white;
        }
      }
    }
  }
}
