.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  gap: 34px;

  .details-top-inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-left {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 8px;

      &-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #2d2d2d;

        &.dark {
          color: white;
        }
      }
      &-subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #a445ed;
      }
    }
    &-right {
      .img-play {
        height: 48px;
        width: 48px;
        object-fit: cover;
      }
    }
  }

  .details-bottom-inner-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-line {
      background: #e9e9e9;
      height: 1px;
      width: 100%;
      margin-bottom: 24px;
      &.dark {
        background: #3a3a3a;
      }
    }
    &-header {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-decoration-line: underline;
      color: #757575;
    }
    &-link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      &-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-decoration-line: underline;
        color: #2d2d2d;

        &.dark {
          color: #ffffff;
        }
      }
    }
  }
}
