.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 127px);
  width: 100vw;
  padding: 24px;
  gap: 24px;

  .error-icon {
    font-size: 64px;
  }

  .error-header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2d2d2d;

    &.dark{
        color: #FFFFFF;
    }
  }
  .error-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #757575;

  }
}
