@import "./../../tokens/index.scss";

.select-container {
  display: flex;
  gap: 16px;
  justify-self: center;
  align-self: center;
  transition: all ease 1s;
  cursor: pointer;
  @include for-size("tablet-portrait-up") {
    gap: 18px;
  }

  .select-label {
    font-style: normal;
    font-weight: $font-weight-700;
    font-size: 18px;
    line-height: 24px;
    color: $charleston-green;
    &.dark {
      color: $white;
    }
  }

  .select-wrapper {
    position: absolute;
    background: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 183px;
    height: 152px;
    padding: 24px;
    top: 50px;
    right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    &.dark {
      background: $eerie-black;
      box-shadow: 0px 5px 30px $lavender-indigo;
    }

    .select-option {
      font-weight: $font-weight-700;
      font-size: 18px;
      line-height: 24px;
      color: $charleston-green;
      cursor: pointer;
      &.dark {
        color: $white;
      }
      &:hover {
        color: $lavender-indigo;
      }
    }
  }
}
