@import "../../tokens/index.scss";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &.dark {
    path {
      stroke: #a445ed;
    }
  }

  .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @include for-size("tablet-portrait-up") {
      gap: 20px;
    }
  }

  .header-logo-img {
    width: 28px;
    height: 32px;
    object-fit: cover;
  }

  .divider-line {
    width: 1px;
    background-color: #e9e9e9;
    height: 32px;
  }
}
