@import "../../tokens/index.scss";

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;

  &.dark {
    path {
      stroke: $lavender-indigo;
    }
  }

  .right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @include for-size("tablet-portrait-up") {
      gap: 20px;
    }
  }

  .header-logo-img {
    width: 28px;
    height: 32px;
    object-fit: cover;
  }

  .divider-line {
    width: 1px;
    background-color: $bright-gray;
    height: 32px;
  }
}
