@import "../../tokens/index.scss";

.meaning-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-32;
  &-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: $spacing-32;
    &-title {
      flex: 1;
      font-weight: $font-weight-700;
      font-size: $font-size-18;
      line-height: 22px;
      color: $charleston-green;

      @include for-size("tablet-portrait-up") {
        font-size: 24px;
        line-height: 25px;
      }
      @include for-size("desktop-up") {
        line-height: 29px;
      }
      &.dark {
        color: $white;
      }
    }
    &-line {
      background-color: $bright-gray;
      height: 1px;
      flex: 6;

      &.dark {
        background-color: $black-olive;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    &-title {
      color: $sonic-silver;
      font-weight: $font-weight-400;
      font-size: $font-size-16;
      line-height: 19px;

      @include for-size("tablet-portrait-up") {
        font-size: $font-size-20;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      &-inner {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-example {
          font-weight: 400;
          font-size: 15px;
          line-height: $line-height-24;
          color: $sonic-silver;
          @include for-size("tablet-portrait-up") {
            font-size: $font-size-18;
            line-height: $line-height-24;
          }
        }
        &-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          width: 100%;

          &-circle {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            &-inner {
              width: 5px;
              margin-top: 10px;
              height: 5px;
              border-radius: 50%;
              background: $lavender-indigo;
            }
          }
          &-item {
            font-weight: 400;
            font-size: 15px;
            line-height: $line-height-24;
            color: $charleston-green;

            @include for-size("tablet-portrait-up") {
              font-size: $font-size-18;
              line-height: $line-height-24;
            }

            &.dark {
              color: $white;
            }
          }
        }
      }
    }
  }

  &-synonyms {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;

    &-header {
      font-weight: 400;
      font-size: $font-size-16;
      line-height: 19px;
      color: $sonic-silver;

      @include for-size("tablet-portrait-up") {
        font-size: $font-size-20;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }

    &-item {
      font-weight: $font-weight-700;
      font-size: $font-size-16;
      line-height: 19px;
      color: $lavender-indigo;

      @include for-size("tablet-portrait-up") {
        font-size: $font-size-20;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }
  }
}
