@import "../../tokens/index.scss";

.meaning-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  &-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 32px;
    &-title {
      flex: 1;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #2d2d2d;

      @include for-size("tablet-portrait-up") {
        font-size: 24px;
        line-height: 25px;
      }
      @include for-size("desktop-up") {
        line-height: 29px;
      }
      &.dark {
        color: #ffffff;
      }
    }
    &-line {
      background-color: #e9e9e9;
      height: 1px;
      flex: 6;

      &.dark {
        background-color: #3a3a3a;
      }
    }
  }
  &-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    &-title {
      color: #757575;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      @include for-size("tablet-portrait-up") {
        font-size: 20px;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      &-inner {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-example {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #757575;
          @include for-size("tablet-portrait-up") {
            font-size: 18px;
            line-height: 24px;
          }
        }
        &-wrapper {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          width: 100%;

          &-circle {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            &-inner {
              width: 5px;
              margin-top: 10px;
              height: 5px;
              border-radius: 50%;
              background: #8f19e8;
            }
          }
          &-item {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #2d2d2d;

            @include for-size("tablet-portrait-up") {
              font-size: 18px;
              line-height: 24px;
            }

            &.dark {
              color: white;
            }
          }
        }
      }
    }
  }

  &-synonyms {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;

    &-header {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #757575;

      @include for-size("tablet-portrait-up") {
        font-size: 20px;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }

    &-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #a445ed;

      @include for-size("tablet-portrait-up") {
        font-size: 20px;
        line-height: 21px;
      }

      @include for-size("desktop-up") {
        line-height: 26px;
      }
    }
  }
}
