@import "./tokens/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.5s;
}

body {
  height: 100vh;
  width: 100vw;
}

.App {
  padding: 24px;
  height: 100vh;

  @include for-size("tablet-portrait-up") {
    padding: 60px 40px;
  }
  @include for-size("desktop-up") {
    padding: 60px 351px;
  }

  &.dark {
    background-color: $vampire-black;
  }
}

.mono {
  font-family: "Inconsolata", monospace;
}

.sans-serif {
  font-family: "Inter", sans-serif;
}

.serif {
  font-family: "Lora", serif;
}
