@import "../../tokens/index.scss";

.toggle-container {
  background: $sonic-silver;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;

  cursor: pointer;
  &.dark {
    background-color: $lavender-indigo;

    .toggle-circle {
      transform: translateX(140%);
    }
  }
  .toggle-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $white;
    transition: all ease 0.5s;
  }
}
